## Exploratory Data Analysis using Python pandas and SQLite

#### Step 1
Importing the Libraries
1. pandas
2. sqlite3

In [ ]:
import pandas as pd
import sqlite3
print('Import Done')

#### Step 2 
Establish a connection with a Database
Name the DB as edaTest.db

Load the SQL magic module

In [ ]:
# setting the connection
conn = sqlite3.connect('edaTest.db')

In [ ]:
# load magic module
%load_ext sql

#### Step 3
Use pandas to read the data from the link/file saved on your system.
Use these dataframes to data to the database with a table name

In [ ]:
s_file_path = 'D:/Desktop/Shaalimar/01_Files/L5_EDA with Python and SQL Lite/laptop_pricing_dataset.csv'
df = pd.read_csv(s_file_path)

# loading data to db
df.to_sql('tblMain',conn)

#### Step 4
Establish a connection between SQL magic module and the database

In [ ]:
%sql sqlite://edaTest.db

### Problems

Q1> SELECT ALL DISTINCT NAMES OF THE MANUFACTURERS

Q2> WHERE MANUFATURER IS EITHER HP OR DELL

Q3> GROUP THE DATA BY MANUFACTURERS AND FIND OUT THE TOTAL UNITS MANUFACTORED BY EACH.

Q4> NUMBER OF LAPTOPS WHERE STORAGE IS MORE THAN 128 GB GROUPED BY MANUFACTURER NAME

Q5> WHERE WEIGH OF THE LAPTOP IS BETWEEN 2KG AND LESS THAN 3 KG, WRITE QUERIES BOTH FOR INCLUDING THE LIMITS AND EXCLUDING THE LIMITS

Q6> NUMBER OF LAPTOPS PRODUCED WHERE MANUFATURER IS DELL, WEIGHT IS LESS THAN 3KGS AND PRICE IS MORE THAN 1000 USD